
*.o

*.cbp

cmake-build-debug/CMakeFiles/

*.cmake

.idea/

*.out

C/cmake-build-debug/CMakeFiles/polePositionCRKZCY.dir/

C/cmake-build-debug/CMakeFiles/

C/cmake-build-debug/

C/CMakeLists.txt

cmake-build-debug/CMakeCache.txt

CMakeLists.txt

cmake-build-debug/

C/client


polePositionGUI/.idea/
